@font-face {
  font-family: "bangers"; /* Define a custom font family name */
  src: url("/bangers-v20-latin-regular.woff") format("truetype"); /* Specify the path to your font file */
}

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: ivory;
}

/* rezolva o problma de gesture pe mobile */
.r3f {
  touch-action: none;
}

.label > div {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: aliceblue;
  font-weight: 500;
  position: absolute;
  background-color: #00000088;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 30px;
  user-select: none;
  width: 250px;
  text-wrap: wrap;
  text-decoration: none;
  /* fade in animation in css */
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.link > div {
  text-decoration: none;
}

.hidden {
  display: none;
}

/* htmlscreen */

.htmlScreen iframe {
  width: 1280px;
  height: 720px;
  border: none;
  border-radius: 10px;
  background: #000000;
  overflow: hidden;
  z-index: 1;
}

.htmlLaptopScreen iframe {
  width: 1280px;
  height: 800px;
  border: none;
  border-radius: 20px;
  background: #000000;
  overflow: hidden;

  z-index: 0;
}

.iframe--div {
  z-index: 0;
  position: relative;
}

/* loading screen */

.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  background-image: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 5s;
  z-index: 1;
  font-family: "bangers";
  letter-spacing: 0.65rem;
}

.loadingScreen__board {
  padding: 64px;
  background-color: #ccd5ae;
  border-radius: 5rem;
  text-align: center;
  transition: opacity 0.4s;
}

.loadingScreen__board_blue {
  padding: 64px;
  background-color: #a8dadc;
  border-radius: 5rem;
  text-align: center;
  transition: opacity 0.4s;
}

.loadingScreen__title {
  font-size: 4rem;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  margin-bottom: 3.5rem;
}

.loadingScreen__button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 8px 32px;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.24);
  color: white;
  border: none;
  border-radius: 1.6rem;
  transition: background-color 0.4s;
}

.loadingScreen__button:hover {
  background-color: rgba(0, 0, 0, 0.42);
  cursor: pointer;
}

.loadingScreen__button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.loadingScreen__progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
}

.loadingScreen__progress__value {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / 50%);
  transition: width 0.4s;
}

.loadingScreen--started {
  opacity: 0;
  pointer-events: none;
}

.loadingScreen--started .loadingScreen__board {
  opacity: 0;
}

/* loader misto */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ios toggle switch */

/*  Mobile Toggle Switch */
.switch-toggle-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.switch-toggle-container {
  position: relative;
  display: inline-block;
}

.switch-toggle {
  position: relative;
  display: inline-block;
  margin: 0 0 10px;
  width: 50px;
  height: 30px;
  background: #ddd;
  border-radius: 50px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.switch-toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  transition: left 0.2s ease-in-out, width 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.switch-toggle-input:checked + .switch-toggle {
  background: #30e16b;
}

.switch-toggle-input:checked + .switch-toggle::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.switch-toggle-input:disabled {
  pointer-events: none;
}

.switch-toggle-input:disabled + .switch-toggle {
  cursor: not-allowed;
  background: #eaeaea;
}

.switch-toggle-input:disabled + .switch-toggle::after {
  background: #f8f8f8;
}

.switch-toggle-input:focus + .switch-toggle::before,
.switch-toggle-container:active
  .switch-toggle-input:not([disabled])
  + .switch-toggle::before {
  outline: 2px solid #5195fe;
  outline-offset: 2px;
}

.switch-toggle-container:active
  .switch-toggle-input:not([disabled])
  + .switch-toggle::after {
  width: 34px;
}
